<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>404</title>
    <script src="../js/jquery.js"></script>
    <script type="text/javascript">
        $(function() {
            var wait = document.getElementById('wait'), href = document.getElementById('href').href;
            var interval = setInterval(function() {
                var time = --wait.innerHTML;
                if (time <= 0) {
                    clearInterval(interval);
                    toMainHtml();
                }
            }, 1000);
        });
        function toMainHtml(){
            window.parent.location.href = 'main';
        }
    </script>
</head>
<body>
<div class="mianBox">
    <div class="tipInfo">
        <div class="in">
            <div class="textThis">
                <h3>出错啦,请稍后重新尝试！</h3>
                <p><span>页面自动<a id="href" href="#" onclick="toMainHtml();">跳转</a></span><span>等待<b id="wait">5</b>秒</span></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
