<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>404</title>
    <script src="../js/jquery.js"></script>
    <script type="text/javascript">
        function toMainHtml(){
            window.parent.location.href = 'main';
        }
    </script>
</head>
<body>
<div class="mianBox">
    <div class="tipInfo">
        <div class="in">
            <div class="textThis">
                <h3>出错啦,请稍后重新尝试！</h3>
                <p><span><a id="href" href="#" onclick="toMainHtml()">跳转首页</a></span></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
