<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/includebase"></head>
<!--分期通基础数据统计（报表）-->
<body>
<div class="panel-body" style="padding-bottom:0px;">
        <div class="panel panel-default" style="margin-top: 10px;">
            <div class="panel-heading">
                查询条件
            </div>
            <div class="panel-body">
                <input type="hidden" id = "hidReportType" value = "yg"/>
                <form class="form-inline" role="form" style="float: left; width: 100%;margin-left: 20px;" method="post" id="queryFqtBaseInfo">
                    <div class="form-group">
                        <label for="reportType">报表类型:</label>
                        <select id = "reportType" name = "reportType" class="form-control">
                            <option value="yg">员工</option>
                            <option value="wd">网点</option>
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="form-group">
                        <label for="teStartTime">调额时间:</label>
                        <input type="text" class="form-control" name="teStartTime" id="teStartTime" readonly/>
                        ~
                        <input type="text" class="form-control" name="teEndTime" id="teEndTime" readonly/>
                    </div>
                    <div class="form-group" id="employeeDiv">
                        <label for="salesman">营销员:</label>
                        <input type="text" class="form-control" name="salesman" id="salesman"/>
                    </div>
                    <div class="form-group" id="bankDiv" style="display: none;">
                        <label for="bankName">网点名称:</label>
                        <input type="text" class="form-control" name="bankName" id="bankName"/>
                    </div>
                    <div class="form-group" id="parentDiv" style="display: none;">
                        <label for="parentBankName">支行名称:</label>
                        <input type="text" class="form-control" name="parentBankName" id="parentBankName"/>
                    </div>
                    <div class="form-group">
                        <button type="button" id="queryBtn" onclick="doQuery();" class="btn btn-primary">查询</button>
                    </div>
                </form>
            </div>
        </div>
        <table id="fqtBaseInfo-table" style="margin-top: -50px;">
        </table>
</div>
<script th:inline="javascript">
    $(function() {
        //初始化调额时间
        loadStartAndEndDatetimepicker("teStartTime","teEndTime",false);
        //开始时间默认为本月第一天
        $("#teStartTime").datetimepicker("setDate", getCurrentMonthFirst());
        //结束时间默认为当前时间
        $("#teEndTime").datetimepicker("setDate", new Date());
        initYGTable();
        //处理表头和内容对不齐
        $(window).resize(function(){
            clTable();
        });
    });
    function doQuery(){

        //获取本次table显示的报表类型
        var hidReportType = $("#hidReportType").val();
        //获取当前类型选择框选中的报表类型
        var reportType = $("#reportType option:selected").val();

        //判断报表类型是否发生改变
        if(hidReportType == reportType){
            //如果没有发生改变就刷新表格,重新加载数据
            $('#fqtBaseInfo-table').bootstrapTable('refresh');    //刷新表格
        }else{
            //如果类型发生改变就展示对应的table
            if(reportType == 'yg'){//员工
                $("#employeeDiv").show();
                $("#bankDiv").hide();
                $("#parentDiv").hide();
                initYGTable();
            }else if(reportType == 'wd'){//网点
                $("#employeeDiv").hide();
                $("#bankDiv").show();
                $("#parentDiv").show();
                initWDTable();
            }

            $("#hidReportType").val(reportType);//设置新的value
        }
    }
    //初始化报表类型为员工的Table
    function initYGTable(){
        $('#fqtBaseInfo-table').bootstrapTable('destroy');
        var fqtTable = $('#fqtBaseInfo-table').bootstrapTable({
            url:"/fqtBaseInfo/loadReportData",
            height: $(window.parent.document).find("#wrapper").height() - 252,
            width:$(window).width(),
            showColumns:true,
            formId :"queryFqtBaseInfo",
            pagination : true,
            sortName : 'id',
            sortOrder : 'desc',
            clickToSelect: true,// 单击某一行的时候选中某一条记录
            pageSize : 10,
            toolbars:[
                {
                    text: '导出Excel',
                    iconCls: 'glyphicon glyphicon-share',
                    handler: function () {
                        var param = $("#queryFqtBaseInfo").serialize();
                        window.location.href = "/excelManage/exportExcel?key=fqt_ygReportExport&" + param;
                    }
                }
            ],
            columns: [
                {
                    field: '',
                    title: '序号',
                    formatter: function (value, row, index) {
                        return index+1;
                    }
                },{
                    field : 'salesman',
                    title : '营销员',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'teMoney',
                    title : '调额金额',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'tezsMoney',
                    title : '调额中收',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'dyzyMoney',
                    title : '当月支用金额',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'dyzyzsMoney',
                    title : '当月支用中收',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'bankZyMoney',
                    title : '行方支用金额',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'bankZyZSMoney',
                    title : '行方支用中收',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'disburseMoney',
                    title : '累计支用金额',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'disburseZSMoney',
                    title : '累计支用中收',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'surplusMoney',
                    title : '剩余可用额度',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'syzsMoney',
                    title : '剩余中收',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'zyRate',
                    title : '支用率(%)',
                    align : 'center',
                    valign : 'middle'
                }],
            onPostHeader:function(){
                clTable();
            }
        });
    }
    //初始化报表类型为网点的Table
    function initWDTable(){
        $('#fqtBaseInfo-table').bootstrapTable('destroy');
        var fqtTable = $('#fqtBaseInfo-table').bootstrapTable({
            url:"/fqtBaseInfo/loadReportData",
            height: $(window.parent.document).find("#wrapper").height() - 252,
            width:$(window).width(),
            showColumns:true,
            formId :"queryFqtBaseInfo",
            pagination : true,
            sortName : 'id',
            sortOrder : 'desc',
            clickToSelect: true,// 单击某一行的时候选中某一条记录
            pageSize : 10,
            toolbars:[
                {
                    text: '导出Excel',
                    iconCls: 'glyphicon glyphicon-share',
                    handler: function () {
                        var param = $("#queryFqtBaseInfo").serialize();
                        window.location.href = "/excelManage/exportExcel?key=fqt_wdReportExport&" + param;
                    }
                }
            ],
            columns: [
                {
                    field: '',
                    title: '序号',
                    formatter: function (value, row, index) {
                        return index+1;
                    }
                },{
                    field : 'bankName',
                    title : '网点名称',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'parentBankName',
                    title : '所属管辖支行',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'teMoney',
                    title : '调额金额',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'tezsMoney',
                    title : '调额中收',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'dyzyMoney',
                    title : '当月支用金额',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'dyzyzsMoney',
                    title : '当月支用中收',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'bankZyMoney',
                    title : '行方支用金额',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'bankZyZSMoney',
                    title : '行方支用中收',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'disburseMoney',
                    title : '累计支用金额',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'disburseZSMoney',
                    title : '累计支用中收',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'surplusMoney',
                    title : '剩余可用额度',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'syzsMoney',
                    title : '剩余中收',
                    align : 'center',
                    valign : 'middle'
                },{
                    field : 'zyRate',
                    title : '支用率(%)',
                    align : 'center',
                    valign : 'middle'
                }],
            onPostHeader:function(){
                clTable();
            }
        });
    }
</script>
</body>
</html>